@media screen and (max-width: 600px) {
    *{
        text-align: center;
    }

    article#video > iframe {
        height: 200px;
    }

    .d-inline > div {
        text-align: left;
        text-indent: 0px;
    }
   
       main{
        width: 90%;
    }
}
